h1 { color:#e3e3fa ;}

.App {background-color:  #161313;
     
        
    ;}

.product_title{
    display:flex;
    justify-content:center;
    padding: 20px;
    color: white;
    margin-top: 50px;
}

.row-card{
    padding: 50px;
    margin-top:50px;
    background-color: #83c39d;
    border-radius:5px;
}

.compromiso_title{
    display: flex;
    justify-content: center;
    margin:50px;
}


h1{
    color: white;
}