*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

h2{
    color: #ffff;
}
h3{
    color: #ffff;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}
hr{
    color: #ffffff;
}


button{
    border: none;
    background: none;
            
}