
.navbar_container{
background-color: #23022a;
position: fixed;
z-index: 9999;
top: 0;
width: 100%;
.cont_navbar{
    align-items: center;
    a{
        margin:10px;
        &:hover{color:rgb(92, 22, 22)};
    }

}


}
.navbar_nav{
    a{color: #fffefe}
    h4{color: #fffefe}
    .nav-item{ color: #fffefe}
}




