.nosotros_Component{
    background-color: rgb(55, 21, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    
    font-weight: bold;
    text-align: center;
    margin-right:10px;
    height: 350px;
    margin-bottom: 50px;
    
}